html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
  box-sizing: border-box;
  /* background-color: burlywood; */

  padding: 2rem;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem 0;
}

.main-wrapper {
  /* Force setting height feels bad but oh well */
  display: flex;
  height: 90%;
}

.interaction-wrapper,
.console-wrapper {
  border: 1px solid black;

  width: 50%;

  padding: 1rem;
}

.inventory-wrapper {
  height: 50%;
}

.interaction-wrapper {
  overflow: hidden;
}

.console-wrapper {
  overflow: auto;
}

.inventory {
  display: flex;
  flex-wrap: wrap;
}

.inventory p {
  padding: 1rem;
  margin: 0.25rem;
  border: 1px solid black;
}
